# -------------------------------------
# DJANGO ENVIRON ENV
# -------------------------------------
#
# Notes:
#   - If this file ends in .dist, do not add any private information
#     such as api_keys or auth_tokens to this file.
#   - If this file ends in .dist, duplicate and rename this file to .env.
#   - Vars FOLLOW_THIS=FORMAT
#
# See:
#   - https://django-environ.readthedocs.io/en/latest/
#

# Django
# -------------------------------------

# NOTE: Expects: host1,host2,host3
ALLOWED_HOSTS=localhost,
DEBUG=True
DATABASE_URL="postgres://postgres:postgres@db/postgres"
SECRET_KEY="CHANGEME!!!"

# Cache
# -------------------------------------
CACHE_MIDDLEWARE_SECONDS=0
CACHE_TIMEOUT=0

# Redis Cache
# -------------------------------------
REDIS_URL="redis://redis:6379/"

# Open Weather Map
# -------------------------------------
OPEN_WEATHER_MAP_API_KEY="CHANGEME!!!"
